<% content_for :header do %>
<section class="hero is-warning" style="background: white; height:45px;">
    <div class="container">
      <h5 class="title">
        <%= t(:browsing) %>
      </h5>
    </div>
</section>
<% end %>

<div class="service-index-grid pt4">
  <% @services.each do |service| %>

    <div class="service border-light">
      <div class="service-thumb">
        <% if service.condition? %>
          <div class="condition"><span class="tag is-dark"><%= service.condition %></span></div>
        <% end %>
      </div>

      <div class="pa3">
        <h3 class="fw7 f4 title"><%= link_to service.title, service %></h3>
        <%= link_to image_tag(service.image_url, style:"width:200px; height:auto;"), service if service.image %>
        <p class="has-text-gray fg pt1"> <%= t("offered_by") %> <%= service.user.name %></p><br>
        <p class="f3 fw6 has-text-right pt2 price">
        <% if I18n.locale == :ka %>
          <%= number_to_currency(service.price * 2.94) %>
        <% elsif I18n.locale == :en  %>
          <%= number_to_currency(service.price) %>
        <% end %>
        </p>

        <% if service_author(service) %>
          <%= link_to "Edit", edit_service_path(service), class: "button is-small" %>
          <%= link_to "Delete", service, method: :delete, data: { confirm: t(:are_you_sure) }, class: "button is-small" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>