<% content_for :header do %>
<section class="hero is-warning" style="background: white; height:45px;">
    <div class="container">
      <h5 class="title">
        <%= t(:your_cart) %>
      </h5>
    </div>
</section>
<% end %>

<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to t(:ready_to_purchase), purchase_credentials_path, class: "button is-warning" %>
</div>

<hr/>
<section class="section">
  <%= render(@cart.line_items) %>
  
  <div class="columns">
    <div class="column">
      <%= button_to t(:destroy_cart), @cart, method: :delete, data: { confirm: t(:are_you_sure)}, class: "button is-danger" %>
    </div>

    <div class="column total has-text-right">
      <h4 class="title is-4">
      <span class="f3 has-text-gray"><%= t(:total) %>:</span>
        <% if I18n.locale == :ka %>
          <%= number_to_currency(@cart.total_price * 2.94 ) %>
        <% elsif I18n.locale == :en  %>
          <%= number_to_currency(@cart.total_price) %>
        <% end %>
      </h4>
    </div>
  </div>
</section>