<div class="columns align-items-center">
  <div class="column is-2">
    <figure class="is-128x128 image">
      <%= image_tag(line_item.service.image_url) if line_item.service.image %>
    </figure>
  </div>
  <div class="column is-9">
    <strong><%= line_item.service.title %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= truncate(line_item.service.description, length: 140) %>
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(line_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= button_to t(:remove_from_cart), line_item, method: :delete, data: { confirm: t(:are_you_sure) }, class: "button is-primary mb4", style:"color:black;" %>
</div>

<hr/ >