    <nav class="navbar" role="navigation" aria-label="main navigation" style="background: rgb(123, 144, 245);">
      <div class="navbar-brand" id="homeicon">
        <%= link_to root_path, class:"navbar-item", style:"" do %>
          <%= image_tag("rainbow-flag.png") %>
          <h1 class="title is-5" style="margin-left:10px;">KIU Lancer</h1>
        <% end  %>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if cart_has_items %>
              <%= link_to cart_path(@cart), class:"navbar-item button is-warning", style:"background: rgb(123, 144, 245);" do %>
                  <span class="icon is-small">
                    <em class="fa fa-shopping-cart"></em>
                  </span>
                  <span> <%= t(:cart) %> 
                    <%= cart_count_over_one %>
                  </span>
                <% end %>
              <% end %>

              <% if user_signed_in? %>
                
                <div class="navbar-item" id="sellservices" style="margin-right: 5px;">
                  <%= link_to t(:sell_your_services), new_service_path, class: "nav-item button is-dark"%>
                </div>
                <div class="navbar-item" id="youracc"  style="margin-right: 5px;">
                  <%= link_to t(:your_account), edit_user_registration_path, class: "nav-item", style:"color:white;" %>
                </div>
                <div class="navbar-item" id="logout">
                  <%= link_to t(:log_out), destroy_user_session_path, method: :delete, class:"nav-item", style:"color:white;" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </nav>

  <style>
  #homeicon:hover {
		background-color: rgb(92, 117, 243);
	}
  
  #youracc:hover {
    		background-color: rgb(92, 117, 243);
  }
  #logout:hover {
    		background-color: rgb(92, 117, 243);
  }

  </style>